/.idea/.name
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/6.8/executionHistory/executionHistory.bin
/.gradle/6.8/executionHistory/executionHistory.lock
/.gradle/6.8/fileHashes/fileHashes.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/6.8/fileChanges/last-build.bin
/local.properties
/.idea/misc.xml
/.idea/modules/app/MVVM_Example.app.iml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/sha1-checksums.bin
/.idea/vcs.xml
/.idea/workspace.xml
